{
	presets: ["es2015", "stage-0", "react"],

	plugins: [
		[
			"react-css-modules",
			{
				filetypes: {
					".scss": {
						syntax: "postcss-scss"
					}
				},
				context: "src",
				exclude: "node_modules",
				webpackHotModuleReloading: true
			}
		]
	],

	env: {
		build: {
			optional: ["optimisation", "minification"]
		}
	}
}
