$linear: cubic-bezier(0.3, 0.3, 0.8, 0.8);
$ease: cubic-bezier(0.3, 0.1, 0.3, 1);
$ease-in: cubic-bezier(0.4, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.6, 1);
$ease-in-out: cubic-bezier(0.4, 0, 0.6, 1);

$easeInQuad: cubic-bezier(0.6, 0.9, 0.7, 0.5);
$easeInCubic: cubic-bezier(0.6, 0.6, 0.7, 0.2);
$easeInQuart: cubic-bezier(0.9, 0, 0.7, 0.2);
$easeInQuint: cubic-bezier(0.8, 0.1, 0.9, 0.1);
$easeInSine: cubic-bezier(0.5, 0, 0.8, 0.7);
$easeInExpo: cubic-bezier(1, 0.1, 0.8, 0.4);
$easeInCirc: cubic-bezier(0.6, 0, 0.1, 0.3);
$easeInBack: cubic-bezier(0.6, -0.3, 0.7, 0);

$easeOutQuad: cubic-bezier(0.3, 0.5, 0.5, 1);
$easeOutCubic: cubic-bezier(0.2, 0.6, 0.4, 1);
$easeOutQuart: cubic-bezier(0.2, 0.9, 0.4, 1);
$easeOutQuint: cubic-bezier(0.2, 1, 0.3, 1);
$easeOutSine: cubic-bezier(0.4, 0.6, 0.6, 1);
$easeOutExpo: cubic-bezier(0.2, 1, 0.2, 1);
$easeOutCirc: cubic-bezier(0.1, 0.8, 0.2, 1);
$easeOutBack: cubic-bezier(0.2, 0.9, 0.3, 1.3);

$easeInOutQuad: cubic-bezier(0.5, 0, 0.5, 1);
$easeInOutCubic: cubic-bezier(0.7, 0, 0.4, 1);
$easeInOutQuart: cubic-bezier(0.8, 0, 0.2, 1);
$easeInOutQuint: cubic-bezier(0.9, 0, 0.1, 1);
$easeInOutSine: cubic-bezier(0.4, 0.1, 0.1, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutCirc: cubic-bezier(0.8, 0.1, 0.2, 0.9);
$easeInOutBack: cubic-bezier(0.7, -0.6, 0.3, 1.6);
