/*--------------------------------------------------------------------------------------
 Font face import example -
 [test] font is housed under Project/src/scss/webfonts/fontfile.ext
 ---------------------------------------------------------------------------------------
    @font-face {
        font-family: 'test';
        src: url('../scss/webfonts/test.eot');
        src: url('../scss/webfonts/test.woff') format('woff'),
        url('../scss/webfonts/test.eot') format('embedded-opentype'),
        url('../scss/webfonts/test.ttf') format('truetype');
    }
*/
